<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<http realm="JavaStudy example" use-expressions="true">-->
        <!--<intercept-url pattern="/" access="isFullyAuthenticated() or isAnonymous()"/>-->
        <!--<intercept-url pattern="/login.jsp*" access="isFullyAuthenticated() or isAnonymous()"/>-->
        <!--<intercept-url pattern="/admin" access="hasRole('ADMIN')"/>-->
        <!--<intercept-url pattern="/exitUser*" access="isFullyAuthenticated() or isAnonymous()"/>-->
        <!--<intercept-url pattern="/**" access="hasRole('USER')"/>-->

        <!--<form-login login-page="/login.jsp"-->
                    <!--authentication-failure-url="/login.jsp?login_error=1"/>-->
        <!--<access-denied-handler error-page="/accessDenied.jsp"/>-->
        <!--<http-basic/>-->
        <!--<logout logout-success-url="/exitUser.jsp"/>-->
        <!--<remember-me />-->
        <!--<headers/>-->
        <!--<csrf/>-->
    <!--</http>-->

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/" access="isFullyAuthenticated() or isAnonymous()"/>
        <!--<intercept-url pattern="/error.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>-->
        <intercept-url pattern="/login.jsp" access="isFullyAuthenticated() or isAnonymous()"/>
        <intercept-url pattern="/logged.jsp" access="isFullyAuthenticated()"/>
        <intercept-url pattern="/logout.jsp" access="isFullyAuthenticated()"/>
        <intercept-url pattern="/**" access="isFullyAuthenticated()"/>


        <form-login login-page="/login.jsp" authentication-failure-url="/login/login.jsp?login_error=1"/>
                    <!--default-target-url="/login/logged.jsp"-->
         <access-denied-handler error-page="/error.jsp"/>

        <logout logout-success-url="/logout.jsp"/>

        <csrf disabled="true"/>
    </http>

    <b:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <b:constructor-arg name="strength" value="4"></b:constructor-arg>
    </b:bean>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>

    <b:bean id="customUserDetailsService" class="com.gerasimchuk.services.CustomUserDetailsService">
        <!--<b:constructor-arg ref="customUserDetailsService"/>-->
    </b:bean>



</b:beans>